<ul class="promo__clock" data-time="'2023-12-31'">
  <li class="promo__clock-item">
    <span class="promo__clock-days"></span>
    <span class="promo__clock-smalltext">Days</span>
  </li>
  <li class="promo__clock-item">
    <span class="promo__clock-hours"></span>
    <span class="promo__clock-smalltext">Hours</span>
  </li>
  <li class="promo__clock-item">
    <span class="promo__clock-minutes"></span>
    <span class="promo__clock-smalltext">Minutes</span>
  </li>
  <li class="promo__clock-item">
    <span class="promo__clock-seconds"></span>
    <span class="promo__clock-smalltext">Seconds</span>
  </li>
</ul>