.page-404 {
  padding: 110px 0 120px;

  &__inner {
    display: flex;
    // justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-width: 570px;
    width: 100%;
  }

  &__title {
    @extend %roboto-700;
    font-size: 48px;
    line-height: 0.58;
    color: #28384f;
    margin-bottom: 40px;
  }

  &__text {
    max-width: 458px;
    margin-bottom: 64px;
  }

  &__link {
    padding: 14px 31px;
  }

  // &__img {}
}
