.blog {
  padding: 50px 0 160px;
  background-image: url(../img/decor/blog-bg.png);
  background-position: center center;
  background-repeat: no-repeat;

  @include r(860) {
    padding: 60px 0;
  }

  &__title {
    @extend %roboto-700;
    font-size: 48px;
    text-transform: uppercase;
    line-height: 0.54;
    color: $title;
    text-align: center;
    margin-bottom: 29px;

    @include r(540) {
      line-height: 47px;
    }
  }

  &__text {
    max-width: 570px;
    @extend %quick-400;
    text-align: center;
    margin: 0 auto 56px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    position: relative;

    @include r(1200) {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(3, 1fr);
    }

    @include r(1050) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include r(768) {
      grid-template-columns: repeat(1, 1fr);
    }

    &::after {
      content: '';
      position: absolute;
      background-image: url(../img/decor/blog-bg-after.svg);
      width: 126px;
      height: 53px;
      right: -24px;
      top: -31px;
      z-index: -1;

      @include r(1235) {
        right: 8px;
      }
    }
  }

  &__item {
    max-width: 364px;
    background-color: $bg;
    border: solid 1px $border;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 20px 0 60px 0 #cacaca59;
      border-color: transparent;

      & .blog__item-link {
        color: $accent;

        & .blog__item-icon {
          fill: $accent;
        }
      }
    }

    @include r(1050) {
      max-width: 100%;
    }
  }

  &__item-imglink {
    display: block;
  }

  &__item-img {
    height: 280px;
    object-fit: cover;

    @include r(1050) {
      width: 100%;
      object-position: top;
    }

    @include r(375) {
     height: 220px;
    }
  }

  &__item-box {
    padding: 30px 40px;

    @include r(1200) {
      padding: 20px 15px;
    }
  }

  &__item-info {
    @extend %quick-500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    @include r(375) {
      display: block;
    }
  }

  &__item-author,
  &__item-data {
    display: flex;
    align-items: center;
    transition: color 0.3s ease-in-out;

    &:hover {
      & .blog__item-icon {
        fill: $accent;
      }
    }
  }

  &__item-icon {
    fill: $text;
    margin-right: 10px;
    transition: fill 0.3s ease-in-out;
  }

  &__item-data {
    &:hover {
      & .blog__item-icon {
        fill: $text;
      }
    }
  }

  &__item-icon {
    fill: aqua;
  }

  &__item-title-link {
    margin-bottom: 20px;
  }

  &__item-title {
    @extend %roboto-400;
    font-size: 21px;
    line-height: 1.45;
    color: $title;
    transition: color 0.3s ease-in-out;


    &:hover {
      color: $accent;
    }
  }

  &__item-link {
    transition: color 0.3s ease-in-out;
  }
}