.blog-one {

  .comments {
    @include r(450) {
      display: block;
    }
  }

  .comments__img {
    @include r(450) {
      margin-bottom: 15px;
    }
  }

  .comments__title {
    margin-bottom: 33px;
  }

  .comments-form {
    border-top: 1px solid #ecec;
  }

  @include r(620) {
    .comments-form__box-input {
      display: block;
      margin-bottom: 0;
    }

    .comments-form__text-input {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__img {
    @include r(1200) {
      max-width: 100%;
      width: 100%;
    }
  }

  &__img-left {
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;

    @include r(1200) {
      height: 200px;
    }
  }

  &__img-right {
    float: right;
    margin-left: 30px;
    margin-bottom: 10px;
  }

  &__text {
    border: 1px solid #ececec;
    border-top: none;
    padding: 30px;
    margin-top: -1px;
    text-align: justify;
    word-spacing: -0.9px;

    @include r(620) {
      padding: 20px 10px;
    }

    h4 {
      @extend %roboto-500;
      font-size: 22px;
      color: $title;
      margin: 25px 0;
    }

    & p {
      margin: 25px 0;
      line-height: 1.63;
    }

    & blockquote {
      @extend %roboto-400;
      font-size: 22px;
      line-height: 1.45;
      color: $title;
      background-color: #f6f6f6;
      border-left: 3px solid $accent;
      margin: 25px 0;
      padding: 35px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    @include r(620) {
      display: block;
    }
  }

  &__info-item {
    display: flex;
    align-items: center;
    margin-right: 30px;
    padding-left: 26px;
    background-repeat: no-repeat;
    background-position: left center;
  }

  .comments-form {
    border-bottom: 0;
  }

  &__box {
    padding: 30px 0 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include r(620) {
      flex-wrap: wrap;
      padding-right: 10px;
    }

    @include r(450) {
      display: block;
    }
  }

  &__share,
  &__tags {
    display: flex;
    align-items: center;
    height: 17px;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #29282d;
  }

  &__tags-link {
    font-weight: 400;
    padding-left: 8px;
    color: #8d8d8d;
    text-transform: none;
    vertical-align: middle;
  }

  &__share-ink {
    padding-left: 8px;
    vertical-align: middle;

    &:hover {
      .blog-one__share-icon {
        fill: $accent;
      }
    }
  }

  &__share-icon {
    padding: 0;
    fill: #8d8d8d;
  }

  &__author {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #ecec;
    margin-bottom: 40px;

    @include r(450) {
      display: block;
    }
  }

  &__author-img {
    max-width: 140px;
    width: 100%;
    height: 140px;
    object-fit: cover;
    margin-right: 30px;

    @include r(450) {
      margin-bottom: 30px;
    }

  }

  &__author-name {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    color: #29282d;
    margin-bottom: 25px;
  }

  &__author-text {
    text-align: justify;
  }
}