.contact {
  padding: 120px 0;

  @include r(860) {
    padding: 60px 0;
  }

  &__map {
    margin-bottom: 120px;

    @include r(860) {
      margin-bottom: 60px;
    }
  }

  &__inner {
    display: flex;

    @include r(1100) {
      display: block;
      // flex-wrap: wrap;
    }
  }

  &__info {
    max-width: 370px;
    margin-right: 40px;

    @include r(1100) {
      margin-right: 0;
      min-width: 100%;
      margin-bottom: 30px;
      // display: flex;
      // justify-content: space-between;
    }
  }

  &__info-title {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.21;
    color: #292929;
    margin-bottom: 20px;

    @include r(540) {
      font-size: 28px;
      line-height: 34px;
    }
  }

  &__info-list {
    // @include r(1100) {
    //   display: flex;
    //   align-items: center;
    //   justify-content: space-between;
    // }
    // @include r(860) {
    //   display: block;
    // }
  }

  &__info-text {
    text-align: justify;
    word-break: break-all;
    margin-bottom: 60px;

    @include r(375) {
      margin-bottom: 30px;
    }
  }

  &__info-item {
    padding-left: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;

    @include r(375) {
      padding-left: 0;
      padding-top: 70px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      // @include r(1100) {
      //   margin-bottom: 0;
      // }
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 60px;
      height: 60px;

      @include r(375) {
        top: 0;
      }
    }

    &::before {
      box-shadow: 0px 5px 20px 0 #9292924d;
    }

    &--tel {
      &::after {
        background-image: url(../img/icons/icon-phone.svg);
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    &--location {
      &::after {
        background-image: url(../img/icons/icon-loc.svg);
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    &--email {
      &::after {
        background-image: url(../img/icons/icon-mail.svg);
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }

  &__info-tel,
  &__link,
  &__mail {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    color: #292929;

    @include r(375) {
      font-size: 14px;
    }
  }

  &__info-tel {
    display: block;
  }

  &__link {
    max-width: 190px;
  }

  &__mail {}

  &__form {
    width: 100%;
    padding: 60px 40px;
    box-shadow: 0px 10px 40px 0 #acacac4d;

    @include r(1100) {
      padding: 20px 10px;
    }
  }

  &__form-title {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    color: #292929;
    margin-bottom: 30px;
  }

  &__form-input {
    &:nth-child(1) {
      @include r(860) {
        margin-bottom: 30px;
      }
    }
  }

  &__info-box {
    display: flex;
    margin-bottom: 30px;

    @include r(860) {
      display: block;
    }

    & .contact__form-input {
      &:nth-child(1) {
        margin-right: 30px;
      }
    }
  }

  &__form-input {
    width: 100%;
    height: 60px;
    display: block;
    border: 0;
    background-color: #f6f6f6;
    padding: 0 24px;
    color: $title;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;

    &::placeholder {
      color: #8d8d8d9f;
    }

    &:focus {
      box-shadow: 0px 0px 0px 1px #fe3e589f;
    }
  }

  &__form-text {
    width: 100%;
    min-height: 200px;
    resize: none;
    border: 0;
    outline: 0;
    background-color: #f6f6f6;
    padding: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: $title;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;

    &::placeholder {
      color: #8d8d8d9f;
    }

    &:focus {
      box-shadow: 0px 0px 0px 1px #fe3e589f;
    }
  }

  &__form-btn {
    padding: 24px 34px;
    max-width: 220px;

    &:disabled {
      cursor: no-drop;
      color: #fff;
      background-color: #fe3e589f;
      cursor: not-allowed;

      &:hover {
        background-color: #fff;
        color: #fe3e589f;
      }
    }
  }
}

#map {
  width: 100%;
  height: 450px;

  @include r(540) {
    height: 250px;
  }
}