@import '../../../node_modules/slick-carousel/slick/slick.scss';

.hero {
  padding-top: 65px;
  background-color: $bg-footer;
  background-image: url('../img/decor/hero-bg.png');
  background-repeat: no-repeat;
  background-position: center;

  @include r(1200) {
    padding-top: 35px;
  }

  &__container {
    max-width: 1560px;
  }
}

.slider {
  position: relative;

  @include r(620) {
    padding: 45px 0 65px;
  }

  &__item {
    display: flex !important;
    justify-content: space-between;

    @include r(1050) {
      .slider__img {
        display: none;
      }
    }
  }

  &__content {
    padding: 125px 0 0 181px;

    // padding-left: 181px;
    // padding-top: 125px;
    @include r(1200) {
      padding: 0 0 50px 15px;
    }

    @include r(1050) {}
  }

  &__title {
    max-width: 690px;
    margin-bottom: 35px;
    @extend %title-h1;

    @include r(620) {
      margin-bottom: 25px;
    }

    @include r(475) {
      margin-bottom: 15px;
    }
  }

  &__title-span {
    display: block;
  }

  &__text {
    margin-bottom: 55px;
    max-width: 470px;

    @include r(1200) {
      margin-bottom: 30px;
    }
  }

  &__link {
    padding: 19px 35px;

    @include r(1050) {
      padding: 15px 30px;
    }

    @include r(476) {
      padding: 10px 25px;
    }
  }

  &__img {
    display: block;
    max-width: 655px;

    @include r(1200) {
      width: 40%;
      object-fit: contain;
    }
  }

  .slick-dots {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 36px;
    font-size: 0px;

    @include r(1050) {
      margin-top: 0;
    }

    li {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid transparent;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 6px;
      }

      button {
        padding: 0;
        width: 6px;
        height: 6px;
        background-color: $text;
        border-radius: 50%;
        border: transparent;
        cursor: pointer;
      }

      &.slick-active {
        border: 1px solid $accent;
      }

      &.slick-active {
        button {
          background-color: $accent;
        }
      }
    }
  }
}