.top {
  &__container {
    max-width: 1700px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 120px 0 130px;
    text-align: center;

    @include r(1200) {
      padding: 100px 0 110px;
    }

    @include r(1100) {
      padding: 80px 0 80px;
    }

    @include r(860) {
      padding: 60px 0 60px;
    }

    @include r(620) {
      background-color: #ececec;
      background-image: none !important;
      padding: 30px 0 30px;
    }
  }

  &__title {
    @extend %roboto-400;
    text-transform: uppercase;
    font-size: 48px;
    color: #15181d;

    @include r(620) {
      font-size: 38px;
    }

    @include r(476) {
      font-size: 28px;
    }
  }
}

.breadcrumbs {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 25px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    display: inline-block;
    background-image: url(../img/icons/icon-home.png);
    width: 16px;
    height: 16px;
    left: 0;
  }

  &__list {
    display: inherit;
    align-items: center;
    justify-content: inherit;
  }

  &__item {
    font-weight: 500;
    color: #727272;
    padding-right: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      position: absolute;
      background-image: url(../img/icons/icon-ref.png);
      width: 9px;
      height: 10px;
      right: 15px;
    }

    &:last-child {
      color: $accent;
      padding-right: 0;

      &::after {
        display: none;
      }
    }
  }

  &__link {
    color: inherit;
    line-height: 1;
  }
}