%quick-400 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

%quick-500 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

%roboto-400 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

%roboto-500 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

%roboto-700 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

%btn {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 58px;
  padding: 14px 35px;
  text-transform: uppercase;
  color: $bg;
  background-color: $accent;
}

%title-h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 58px;
  line-height: 68px;
  color: #29282D;
  text-transform: uppercase;
}

%title-h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 26px;
  color: #29282D;
  text-align: center;
}

%item-hover {
  transition: transform 0.3s, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: scale(1.02);
    box-shadow: 20px 0px 60px #cacaca;
  }
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

