%quick-400 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

%quick-500 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

%roboto-400 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

%roboto-500 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

%roboto-700 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

%title-h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 58px;
  line-height: 68px;
  color: #29282D;
  text-transform: uppercase;
}

%title-h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 26px;
  color: #29282D;
  text-align: center;
}

%item-hover {
  transition: transform 0.3s, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: scale(1.02);
    box-shadow: 20px 0px 60px #cacaca;
  }
}

%btn-bg {
  @extend %roboto-400;
  color: $bg;
  text-transform: uppercase;
  background-color: $accent;
  border: 2px solid transparent;
  box-shadow: 0px 7px 20px 0 $btn-box-shadow;
  cursor: pointer;
}

%btn-bg-hover {
  transition: all 0.2s ease-in-out;

  &:hover {
    border-color: $accent;
    background-color: $bg;
    color: $accent;
  }
}

%btn-light {
  @extend %roboto-400;
  text-transform: uppercase;
  color: $title;
  border: 1px solid $accent;
  background-color: transparent;
  display: inline-block;
}

%btn-light-hover {
  transition:
    color 0.3s,
    background-color 0.3s,
    border 0.3s ease-in-out;

  &:hover {
    color: $bg;
    background-color: $accent;
    border-color: transparent;
  }
}



@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}