html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

// Убираем вертикальный скрол
::-webkit-scrollbar {
  width: 0;
}

body {
  background-color: $bg;
  @extend %quick-500;
  font-size: 16px;
  line-height: 1.63;
  color: $text;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  font-size: 16px;
  line-height: 2.25;
  color: $text;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: $accent;
  }
}

a,
input,
button {
  outline: transparent;
}

.slider__link,
.footer-top__form-btn,
.fashion__link {
  @extend %roboto-400;
  text-transform: uppercase;
  color: $bg;
  background-color: $accent;
  border: 2px solid transparent;
  box-shadow: 0px 7px 20px 0 $btn-box-shadow;
  cursor: pointer;
  @extend %btn-bg-hover;
}

.footer-top__title {
  font-family: 'Roboto', sans-serif;
  color: $title;
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  padding-left: 25px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    background-image: url(..img/icons/icon-home.svg);
  }

  &__list {
    display: inherit;
    align-items: center;
    justify-content: inherit;
  }

  &__item {}

  &__link {

    color: #727272;
  }

  &__icon {}
}