html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

// Убираем вертикальный скролл
::-webkit-scrollbar {
  width: 0;
}

body {
  background-color: $bg;
  @extend %quick-500;
  font-size: 16px;
  line-height: 1.63;
  color: $text;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  font-size: 16px;
  line-height: 2.25;
  color: $text;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: $accent;
  }
}

a,
input,
button {
  outline: transparent;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn-bg {
  @extend %roboto-400;
  padding: 0;
  text-transform: uppercase;
  line-height: 1;
  color: $bg;
  background-color: $accent;
  border: 2px solid transparent;
  box-shadow: 0px 7px 20px 0 $btn-box-shadow;
  cursor: pointer;
  @extend %btn-bg-hover;

  &:disabled {
    cursor: not-allowed;
  }
}

.btn-light {
  @extend %roboto-400;
  text-transform: uppercase;
  color: $title;
  border: 1px solid $accent;
  background-color: transparent;
  display: inline-block;
  @extend %btn-light-hover;
}

.pagination {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__prev {
    // margin-right: 46px;
  }

  &__arrows {
    text-transform: uppercase;
    display: flex;
    align-items: center;

    &:hover {

      & .pagination__prev-icon,
      .pagination__next-icon {
        fill: $accent;
      }
    }
  }

  &__prev-icon {
    fill: #8d8d8d;
    width: 5px;
    height: 11px;
    margin-right: 9px;
  }

  &__list {
    display: flex;
    padding: 0 35px;
    // margin-right: 46px;
  }

  &__item {
    padding: 0 15px;
  }

  &__link {
    &--active {
      color: $accent;
    }
  }

  &__next {
    text-transform: uppercase;
  }

  &__next-icon {
    fill: #8d8d8d;
    width: 5px;
    height: 11px;
    margin-left: 9px;
  }
}

.footer-top__title {
  font-family: "Roboto", sans-serif;
  color: $title;
}