// Убираем вертикальный скрол
::-webkit-scrollbar {
  width: 0;
}

body {
  background-color: $bg;
  @extend %quick-500;
  font-size: 16px;
  line-height: 1.63;
  color: $text;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  font-size: 16px;
  line-height: 2.25;
  color: $text;

  &:hover {
    color: $accent;
  }
}
a,
input,
button {
  outline: transparent;
}