// прижимаем футер к низу
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}
// -------------------------------------
// Убираем вертикальный скролл
::-webkit-scrollbar {
  width: 0;
}
// -------------------------------------
// плавный скролл по якорям
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

// -------------------------------------------------
body {
  background-color: $bg;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
// общие стили для кнопки
button{}
// общие стили для линков
a{}
// общие стили для титлов
.title{
  &__span{}
}

.subtitle{
  &__span {
    display: block;
  }
}