.header {
  &__wrapper {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  &__list-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: $title;
    transition: color 0.2s ease-in;

    &:hover {
      font-weight: 500;
      color: $accent;
      border-bottom: 1px solid $accent;
    }
  }

  &__list-link--active {
    font-weight: 500;
    color: $accent;
    border-bottom: 1px solid $accent;
  }
}

.user-nav {
  display: flex;
  align-items: center;

  &__item {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__icon {
    width: 23px;
    height: 20px;
    fill: $title;
    transition: fill 0.3s ease-in-out;

    &:hover {
      fill: $accent;
    }
  }

  &__link {
    position: relative;

    &:hover {
      & .user-nav__num {
        color: $accent;
        background-color: $bg;
        border: 1px solid $accent;
      }
    }
  }

  &__num {
    position: absolute;
    font-size: 12px;
    color: $bg;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: $accent;
    top: -16px;
    right: -14px;
    transition: all 0.3s ease-in-out;
  }
}