//медиа
@mixin r($width) {
  @media (max-width: #{$width}px) {
    @content;
  }
}

//применение
// body {
//   font-size: 18px;
//   @include r(992) {
//     font-size: 15px;
//   }
// }


@mixin container($max-width, $padding) {
  max-width: #{$max-width}px;
  width: 100%;
  padding: 0 #{$padding}px;
  margin: 0 auto;
}

//применение
// .container {
//   @include container(1200, 15);
// }

@mixin sr-only() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

//применение
// @include sr-only();

//псевдоэлементы
@mixin posab($pos: absolute, $content: '') {
  position: $pos;
  content: $content;
}

// Использование миксина без аргументов
// .class::after {
//   @include posab;
//   width: 30px;
//   height: 30px;
// }

//отзывчивое соотношение
@mixin responsive-ratio($x, $y, $pseudo: false) {
  $padding: unquote(($y / $x) * 100 + '%');

  @if $pseudo {
    &::before {
      @include pseudo($pos: relative);
      width: 100%;
      padding-top: $padding;
    }
  }

  @else {
    padding-top: $padding;
  }
}

// Использование миксина 
// .class {
//   @include responsive-ratio(16, 9);
// }

//медиазапросы (большой миксин)
$breakpoints: ("phone": 560px,
  "tablet": 768px,
  "tablet-2": 992px,
  "desktop": 1230px);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type==max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

// Использование миксина 
// .header {
//   padding: 20px;

//   @include mq('tablet') {
//     padding: 15px;
//   }
// }

//медиа запрос простой миксин
@mixin r($width) {
  @media (max-width: #{$width}px) {
    @content;
  }
}

// Использование миксина 
// .class {
//   font-size: 30px;

//   @include r(768) {
//     font-size: 20px;
//   }
// }

//обрезка текста
@mixin line-clamp($lines: 1) {
  @if $lines <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}

// Использование миксина 
// .class {
//   font-size: 14px;
//   @include line-clamp(3);
// }