.product {
  padding: 105px 0 120px;
  text-align: center;

  &__title {
    @extend %roboto-700;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 26px;
    color: $title;
    margin-bottom: 30px;
  }

  &__text {
    max-width: 571px;
    line-height: 26px;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  &__link {
    line-height: 26px;
    letter-spacing: 3.2px;
    padding: 14px 27px;
    margin-top: 55px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px 30px;

  }
}

.product-item {
  max-width: 370px;
  text-align: center;

  &:hover {
    .product-item__link-box {
      transform: translateY(0);
    }
  }

  &.product-item--list {
    min-width: 100%;
    display: flex;
    text-align: left;
    border: 1px solid #ececec;

    &:hover {
      .product-item__link-box {
        transform: translateY(-280%);
      }
    }

    .product-item__img-box {
      min-width: 200px;
      height: 250px;
      margin-bottom: 0;

      img {
        width: 200px;
        height: 250px;
        object-fit: contain;
      }

      &::before {
        display: none;
      }
    }

    .product-item__link-box {
      background-color: transparent;
      width: 115px;
      box-shadow: none;
      // top: 44%;
      bottom: auto;
      // transform: translateY(-50%);

      .product-item__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0px 5px 30px 0 #98989833;
      }

      .product-item__link-line {
        display: none;
      }
    }

    .product-item__content-box {
      display: block;
    }

    .product-item__box {
      display: flex;
      flex-wrap: wrap;
    }

    .product-item__title {
      order: -1;
      width: 100%;
      padding: 0;
      margin-bottom: 10px;
    }

    .product-item__btn {
      padding: 0;
      line-height: 1;
      padding: 17px 41px;
      border: 0;
      background-color: $title;
      @extend %roboto-400;
      color: #fff;
      cursor: pointer;
      transition: box-shadow 0.3s, background-color 0.3s ease-in-out;

      &:hover {
        box-shadow: 0px 7px 20px 0 $btn-box-shadow;
        background-color: $accent;
      }
    }

    .product-item__price {
      order: -1;
      line-height: 1;
      margin-bottom: 15px;
      margin-left: -12px;
    }

    .product-item__star {
      margin-left: 23px;
    }

    .product-item__text {
      margin-bottom: 18px;
    }

    .product-item__wrapper-box {
      padding: 30px 40px;
    }
  }
  
  &__content-box {
    display: none;
  }

  &__img-box {
    height: 370px;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
  }

  &__images {
    width: 370px;
    height: 372px;
    object-fit: cover;
    object-position: top center;
  }

  &__link-box {
    background-color: $bg;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    width: 220px;
    height: 50px;
    margin: 0 auto;
    border-radius: 25px;
    box-shadow: 0px 5px 30px 0 #98989833;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateY(300%);
    transition: transform 0.5s, box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 20px 0px 60px #838181da;
    }
  }

  &__link {
    display: inherit;
    transition: all 0.2s ease-in-out;
    // &:nth-child(2) {
    //   position: relative;

    //   &::before,
    //   &::after {
    //     position: absolute;
    //     content: '';
    //     height: 22px;
    //     width: 1px;
    //     background-color: #ececec;
    //   }

    //   &:before {
    //     left: -25px;
    //   }

    //   &::after {
    //     right: -25px;
    //   }
    // }
    &:hover {
      & .product-item__icon {
        fill: $accent;
      }
    }
  }

  &__link:hover {
    // path {
    //   fill: $accent;
    // }
  }

  &__link-line {

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 30px;
      width: 1px;
      background-color: $text;
      top: 10px;
    }

    &:before {
      left: 68px;
    }

    &::after {
      right: 72px;
    }
  }

  &__icon {
    fill: $title;
    transition: fill 0.2s ease-in-out;
  }

  &__star {
    margin: 0 auto;
  }

  &__title {
    // text-align: center;
    color: $title;
    padding: 15px 0 20px;
  }

  &__price {
    display: flex;
    justify-content: center;
  }


  &__new-price,
  &__old-price {
    padding: 0 12px;
  }

  &__new-price {
    @extend %roboto-500;
    color: $title;
  }

  &__old-price {
    color: $text;
    text-decoration-color: $text;
  }

  &--sale {
    .product-item__img-box::before {
      content: 'SALE';
      @extend %roboto-400;
      text-transform: uppercase;
      color: $bg;
      background-color: $accent;
      border: 2px solid transparent;
      box-shadow: 0px 7px 20px 0 $btn-box-shadow;
      cursor: pointer;
      @extend %btn-bg-hover;
      padding: 4px 15px;
      position: absolute;
      top: 25px;
      left: 25px;
      line-height: 1;
    }
  }
}