// 1. Используйте более интуитивную модель размера коробки.
*,
*::before,
*::after {
  box-sizing: border-box;
}

// 2. Удалить поле по умолчанию
* {
  margin: 0;
}

// 3. Разрешить высоту в процентах в приложении
html,
body {
  height: 100%;
}

// Типографские исправления ! 
// 4. Добавьте доступную высоту строки 
// 5. Улучшить рендеринг текста
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

* {
  line-height: calc(1em + 0.5rem);
}

// 6. Улучшите настройки мультимедиа по умолчанию
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

// 7. Удалите встроенные стили оформления формы
input,
button,
textarea,
select {
  font: inherit;
}

// 8. Избегайте переполнения текста
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  overflow-wrap: break-word;
  // добавление дефиса для переноса слов
  hyphens: auto;
}

// 9. Создайте корневой контекст стека
#root,
#__next {
  isolation: isolate;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

ul {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

textarea {
  resize: none;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}

a,
button {
  cursor: pointer;
}
